{% extends 'base.html.twig' %}
 {% block body %}}

{#  <div style="text-align: center">#}
{#  {% for category in categories  %}#}
  <div class="row">
      <ul>
          {% for cat in categories %}
            <li><a href="{{ url('category', {'id': cat.id}) }}" style="color: #e0e0e0; font-size:24px;text-transform: uppercase">{{ cat.name }}</a></li>
          {% endfor %}
      </ul>
  </div>
<style>
    div.row li {
        margin-left: 1em ;
        text-transform: uppercase;
        font: 700 4em/1 "Oswald", sans-serif;
        padding: .25em 0 .325em;
        display: block;
        text-shadow:;

        animation-duration: 1s;
        animation-name: slidein;
    }

    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 1em;
            width: 100%;
        }
    }
</style>
 {% endblock %}