{% extends 'base.html.twig' %}
 {% block body %}
  <div class="contact">
    <div class="map" style="float:left;margin-right: 10em;margin-top: 3em;margin-left: 3em">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1893.7137217681927!2d50.825222016167764!3d61.6643095825359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43f62b2a0fc83f73%3A0xd2fc347837a133e7!2z0KDQtdGB0L_Rg9Cx0LvQuNC60LDQvdGB0LrQuNC5INCh0YLQsNC00LjQvtC9!5e0!3m2!1sru!2sru!4v1681051584862!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
      <div class="row">
           <div class="h3" style="margin: 1em;padding-top: 1em;color: #f5f2f2;">WEAPON COMPANY</div>
           <div class="h5"><a href="mailto:Weaponask@mail.ru">Email:Weaponask@mail.ru</a></div>
           <div class="h5"><a href="tel:+79001112223">Телефон: +7 (900) 111-22-23</a></div>
           <style>
               div.row a {
                   text-decoration: none;
                   background: #2d2d2d;
                   color: #f3ebeb;
                   padding: 0px 15px;
                   font-family: arial;
                   border-bottom: 3px solid #f88c00;
                   margin-top: 30em;
               }
           </style>
       </div>
  </div>






      {% endblock %}
